@(admin:UserKK)
<html>
    <head>
        <title>
            Details
        </title>
    </head>
    <body>
        <table  class="table">
            <tr>
                <td colspan="2">ข้อมูลผู้เข้าใช้งานระบบ</td>
                <td colspan="2"></td>
                <td></td><td>@admin.getName</td>
                <td></td><td>@admin.getLastname</td>
                <td></td><td>@admin.getUser_Name</td>
                <td></td><td>@admin.getUser_Password.toString()</td>
                <td></td><td>@admin.getPosition</td>

            </tr>
        </table>
    </body>
</html>
