@()
<div class="panel panel-default">
    <div class="panel-heading"><span class="">&nbsp;&nbsp;ข้อมูลพื้นฐาน</span></div>
    <div class="panel-body">


            <!-- Media top -->
        <div class="media">
            <div class="media-left media-top">
                <img src="img_avatar1.png" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media Top</h4>
                <p>Lorem ipsum...</p>
            </div>
        </div>

            <!-- Media middle -->
        <div class="media">
            <div class="media-left media-middle">
                <img src="img_avatar1.png" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media Middle</h4>
                <p>Lorem ipsum...</p>
            </div>
        </div>

            <!-- Media bottom -->
        <div class="media">
            <div class="media-left media-bottom">
                <img src="img_avatar1.png" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media Bottom</h4>
                <p>Lorem ipsum...</p>
            </div>
        </div>



    </div>
</div>
