@(myForm:Form[cooperatives])
@import helper._;

    </head>
    <body style="margin: 0 auto;">

        <ol class="breadcrumb">
            <li><a href="/">หน้าหลัก</a></li>
            <li><a href="showdata">ข้อมูลสหกรณ์</a></li>
            <li class="active">เพิ่มสหกรณ์</li>
        </ol>
        <div class="row">

            <div class="col-md-11">

                <h1>ข้อมูลสหกรณ์</h1>
                @if(flash.containsKey("Errorsahakon")){
                    <div class="alert alert-danger">
                        <strong>เกิดข้อผิดพลาด</strong>@flash.get("Errorsahakon").
                    </div>
                }
                <p style="color: red;">**เป็นฟอร์มกรอกเพิ่มรายชื่อ สหกรณ์ ผู้ที่ทำการซื้อขายกับทางฟาร์าม</p>
                @helper.form(action = routes.Application.inputdata() ,'enctype->"multipart/form-data"){
                    @inputText(myForm("name"),'_label->"ชื่อสหกรณ์โคขุน",'size->"60",'maxlength->"50",'required->"required",'class->"form-control",'placeholder->"กรอกชื่อสหกรณ์")
                    @textarea(myForm("address"),'_label->"ที่อยู่สหกรณ์โคขุน",'size->"60",'maxlength->"50",'required->"required",'class->"form-control",'placeholder->"กรอกที่อยู่ของสหกรณ์")
                    @inputText(myForm("tel"),'_label->"เบอร์โทรศัพท์ติดต่อ",'size->"60",'maxlength->"50",'required->"required",'class->"form-control",'placeholder->"เบอร์โทรที่สามารถติดต่อได้")
                    @inputFile(myForm("picture"),'_label->"รูปภาพประกอบ" ,'required->"required",'class->"form-control")
                    <input type="submit" value="บันทึก" class="btn-success btn-lg">
                    <input type="reset" value="ลบข้อมูล" class="btn-danger btn-lg">
                    }
            </div>
            <div class="col-md-1"></div>
        </div>


    </body>
</html>
