@()
<!--<div class="nav">
    <div style="float: left; padding: 5px 0 0 10px; "><img src="assets/images/cow.png" width="32px"></div>
    <div style="float: left; margin-left: 10px; padding: 10px 0 5px 0; color: #faf2cc; font-size: 16px;">&nbsp;ระบบจัดการข้อมูลโคขุนหนองแวง | KKFarm Online Website</div>
    <div style="float: right; margin-right: 10px; padding: 10px 0 5px 0;">
        <span style="color: darkblue" class="glyphicon">&#xe161;</span><a href="login">Login</a> |  <span style="color: darkblue" class="glyphicon glyphicon-user"></span><a href="login">Register</a></div>
</div>-->
<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
